

<div *ngIf="authenticated">
  <h1 class="centered-text">{{ username }}</h1>
</div>

<div class="stocks-container" *ngIf="authenticated">
  <div class="stock-item" *ngFor="let stock of stocks">
    <div *ngIf="!stock.editing; else editForm">
      <p>Product Name : {{ stock.name }}</p>
      <p>Quantity: {{ stock.quantity }} - {{stock.unit}}</p>
      <div class="button-container">
        <button (click)="editStock(stock)">EDIT</button>
      </div>
    </div>
    <ng-template #editForm>
      <form (submit)="saveChanges(stock)">
        <label>Product Name: {{stock.name}}</label>
        <br>
        <label for="editedQuantity">Quantity:</label>
        <input type="number" id="editedQuantity" name="editedQuantity" [(ngModel)]="stock.editedQuantity" required>
        <button type="submit">Save</button>
        <button type="button" (click)="cancelEdit(stock)">Cancel</button>
      </form>
    </ng-template>
  </div>
</div>
